.list-social {
  display: flex;
  flex-wrap: wrap;
}
.list-social__item {
	border-radius: 50%;
}
.list-social__item:hover .icon {
	fill: var(--color-secondary-hover);
}
.list-social__item .icon {
  height: 16px;
  width: 16px;
}

.list-social__link {
  align-items: center;
  display: flex;
  padding: 0 1rem;
  border-radius: 50%;
}
@media only screen and (max-width: 989px) {
  
}

